
<div class="wrapper">
    <section class="midOuter col-12 row">
        <h2 class="col-12  compaire_header p-3"> Comparison app for Angular 2 & Angular JS</h2>
        <div class="col-6">
            <div class="accordion" id="accordionExample_01">
                <div class="card">
                  <div class="card-header" id="tab1headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#tab1collapseOne" aria-expanded="true" aria-controls="tab1collapseOne">
                        Collapsible Group Item #1
                      </button>
                    </h2>
                  </div>
              
                  <div id="tab1collapseOne" class="collapse show" aria-labelledby="tab1headingOne" data-parent="#accordionExample_01">
                    <div class="card-body">
                      Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="tab1headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#tab1collapseTwo" aria-expanded="false" aria-controls="tab1collapseTwo">
                        Collapsible Group Item #2
                      </button>
                    </h2>
                  </div>
                  <div id="tab1collapseTwo" class="collapse" aria-labelledby="tab1headingTwo" data-parent="#accordionExample_01">
                    <div class="card-body">
                      Some placeholder content for the second accordion panel. This panel is hidden by default.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="tab1headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#tab1collapseThree" aria-expanded="false" aria-controls="tab1collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h2>
                  </div>
                  <div id="tab1collapseThree" class="collapse" aria-labelledby="tab1headingThree" data-parent="#accordionExample_01">
                    <div class="card-body">
                      And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="accordion" id="accordionExample_02">
                <div class="card">
                  <div class="card-header" id="tab1headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#tab2collapseOne" aria-expanded="true" aria-controls="tab2collapseOne">
                        Collapsible Group Item #1
                      </button>
                    </h2>
                  </div>
              
                  <div id="tab2collapseOne" class="collapse show" aria-labelledby="tab2headingOne" data-parent="#accordionExample_02">
                    <div class="card-body">
                      Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="tab2headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#tab2collapseTwo" aria-expanded="false" aria-controls="tab2collapseTwo">
                        Collapsible Group Item #2
                      </button>
                    </h2>
                  </div>
                  <div id="tab2collapseTwo" class="collapse" aria-labelledby="tab2headingTwo" data-parent="#accordionExample_02">
                    <div class="card-body">
                      Some placeholder content for the second accordion panel. This panel is hidden by default.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="tab2headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#tab2collapseThree" aria-expanded="false" aria-controls="tab2collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h2>
                  </div>
                  <div id="tab2collapseThree" class="collapse" aria-labelledby="tab2headingThree" data-parent="#accordionExample_02">
                    <div class="card-body">
                      And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>
    
</div>
